<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Home</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus, voluptatem, quibusdam, quia voluptas quod quos voluptatum quas doloremque quidem dolorum ipsa natus. Quisquam, voluptatibus, voluptatem, quibusdam, quia voluptas quod quos voluptatum quas doloremque quidem dolorum ipsa natus.</p>
            </div>
        </div>
    </div>
</html>